todo
blah/
.DS_Store
elm-stuff/
showcase/todo
showcase/dist/
showcase/elm-stuff/
showcase/node_modules/
showcase/file-server/node_modules/

# Ignore docker files that I use to test ci / cd workflows locally
Dockerfile
.dockerignore

